* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    font-size: 1.2rem;
    color: rgb(82, 81, 81);
    padding-bottom: 2rem;
    margin-left: 2rem;
}

.header__icon {
    border-radius: 50%;
    padding: 1rem;
}

.header__icon:hover {
    background-color: rgb(194, 192, 192);
    cursor: pointer;
}

.header__icon_element {
    width: 25px;
    height: 3px;
    background-color: rgb(106, 105, 105);
    margin: 4px 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;

}

button {
    margin: 0 2rem 2rem 1rem;
    padding: 1rem 2.3rem;
    border-radius: 15px;
    border: none;
    background-color: #b5e6f8;
    font-size: 1.2rem;
}

button:hover {
    box-shadow: 8px 9px 12px -1px rgba(181,181,181,1);
    opacity: 0.9;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(85, 84, 84);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 0.8rem;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    width: 90px;
    height: 30px;
    top: 100%;
    left: 50%; 
    margin-left: -45px; 
    margin-top: 10px;
    }
